<a href="https://colab.research.google.com/github/Taem22n/Taem22n/blob/master/exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my='s'
my= 1
print(my)

1

In [ ]:
2<3>10

False

In [ ]:
my_str = "Samsung galaxy note 10 so sexy but scratch"
for i in my_str.split():
    if i[0] == 's' or i[0] == "S":
        print(i)

Samsung
so
sexy
scratch

In [ ]:
[a for a in range(0,11,2)]

[0, 2, 4, 6, 8, 10]

In [ ]:
[a for a in range(1,51) if a%3 ==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
mystring = "adsfadfadfasdfadfadfaa"
for i in mystring.split():
    if len(i)%2 == 0 :
        print(i+'is even')

adsfadfadfasdfadfadfaais even

In [ ]:
for num in range(1,101):
    if num % 30 == 0:
        print("bboo")
    elif num % 3 == 0:
        print('clap')
    elif num %10 == 0:
        print('bbooshong')
    else:
        print(num)

1
2
calp
4
5
calp
7
8
calp
bbooshong
11
calp
13
14
calp
16
17
calp
19
bbooshong
calp
22
23
calp
25
26
calp
28
29
bboo
31
32
calp
34
35
calp
37
38
calp
bbooshong
41
calp
43
44
calp
46
47
calp
49
bbooshong
calp
52
53
calp
55
56
calp
58
59
bboo
61
62
calp
64
65
calp
67
68
calp
bbooshong
71
calp
73
74
calp
76
77
calp
79
bbooshong
calp
82
83
calp
85
86
calp
88
89
bboo
91
92
calp
94
95
calp
97
98
calp
bbooshong

In [ ]:
mystring="dafdaff asdfasdfa asdfasdf"
[i[0] for i in mystring.split()]

['d', 'a', 'a']

In [ ]:
prime = []
for num in range(2,101):
    is_prime = True
    for i in range(2,int(num**0.5)+1):
        if num%i == 0:
            is_prime = False
            break
        else:
            i+=1
    if is_prime == True:
        prime.append(num)
                       
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
prime = [] 
for num in range(2,101):
    is_prime = True
    for i in range(2,int(num**0.5)+1):
        if num%i == 0:
            is_prime = False
            break
        
        else:
            i+=1
    if is_prime == True:
        prime.append(num)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
prime_list = list()
for num in range(2,101):
    i=2
    is_num_prime=True
    while i<int(num**0.5)+1:
        if num%i==0:
            is_num_prime=False
            break
        else:
            i+=1
    if is_num_prime:
        prime_list.append(num)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
num = int(input())
prime = True
for i in range(2,int(num**0.5)+1):
    if num % i == 0:
        prime = False
        break

print(prime)

8
False

In [ ]:
num  = int(input())
prime = True
i = 2
while i < int(num**0.5)+1:
    if num%1 == 0:
        prime = False
        break
    else:
        i+1
print(prime)

4
False

In [ ]:
def vowelboy(word):
    first_ind= word[0]
    if first_ind in 'aeiuo':
        return word + "boy"
    else:
        return word[1:]+word[0]+'girl'

vowelboy("av")

'avboy'

In [ ]:
def myfunc():
    print("hello world")

In [ ]:
myfunc()

hello world

In [ ]:
def myfunc(a):
    if  a == True:
        return "Hello"
    else:
        return "GB"

myfunc(1==1)

'Hello'

In [ ]:
def myfunc(x,y,z):
    if z == True:
        return x
    elif z == False:
        return y
myfunc(1,2,1==1)

1

In [ ]:
def myfunc(x,y):
    return x + y

In [ ]:
myfunc("a","b")

'ab'

In [ ]:
def myfunc(a):
    if a % 2 == 0:
        return True
    else:
        return False
myfunc(4)

True

In [ ]:
def f(x,y):
    if x > y:
        return True
    else:
        return False

In [ ]:
def evenupper(a):
    b = ''
    for i,j in enumerate(a):
        if i % 2 == 0:
            b += j.lower()
        else:
            b += j.upper()
    return b
evenupper("avavavav")

'aVaVaVaV'

In [ ]:
def next_thr(a):
    for i in range(0,len(a)-1):
        if a[i] == a[i+1] == 3:
            return True
    return False
next_thr([1,2,3,3,4])

True

In [ ]:
def next_thr(a):
    for i in range(0,len(a)-1):
        if a[i:i+2] == [3,3]:
            return True
    return False
next_thr([1,2,3,3,4])

True

In [ ]:
def trip(a):
    result = ' '
    for i in a:
        result += i*3
    return result
trip('av')

' aaavvv'

In [ ]:
def bkjk(x,y,z):
    if sum([x,y,z]) <= 21:
        return sum([x,y,z])
    elif (sum([x,y,z]) > 21 and (11 in [x,y,z])):
        return sum([x,y,z])-10
    else:
        return "Bust"
print(bkjk(1,2,3) )
print(bkjk(11,3,4))
print(bkjk(11,3,8))
print(bkjk(9,9,9))

6
18
12
Bust

In [ ]:

my_list = [1,2,3,6,7,8,9,1]
total = 0
add = True

for num in my_list:
    while add:
        if num != 6:
            total += num
            break
        else:
            add = False
    while not add:
        if num != 9:
            break
        else:
            add = True
            break
print(total)

7

In [ ]:
def sixnine(my_list):
    total = 0
    add = True

    for num in my_list:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
def game007(my_list):
    sol = [0,0,7]
    for num in my_list:
        if num == sol[0]:
            sol.pop(0)
            if len(sol) == 0:
                break

    return len(sol) == 0

In [7]:
def black_jack(x,y,z):
    if sum([x,y,z]) <= 21:
        return sum([x,y,z])
    elif (sum([x,y,z])-10 <= 21 and (11 in [x,y,z])):
        return sum([x,y,z])-10
    else:
        return "BUST"

black_jack(10,2,10)

'BUST'

In [18]:
def zzs(l):
    
    target = [0,0,7]
    for i in l:
        result = False
        if i == target[0]:
            
            target.pop(0)
            if len(target) == 0:
                result = True
                break
    return result

zzs([0,0,7])

True

In [80]:
def primes(n):
    if n < 2:
        print(0)
    total = [2]
    i = 3
    while i <= n:
        is_prime = True
        for j in range(2,int(i**0.5)+2):
            if i%j == 0:
                is_prime = False
                break
            else:
                pass
        if is_prime:
            total.append(i)
        i += 2
    return len(total)

primes(9)

4

In [86]:
l = [3, 9, 7, 6, 11]

sum_state = "Add"
# sum_state = "Ignore"
s=0
for x in l:
    while sum_state == "Add":
        if x == 6:
            sum_state = "Ignore"
        else:
            s += x
            break
    while sum_state == "Ignore":
        if x == 9:
            sum_state = "Add"
        else:
            break
    print(f"sum_state is {sum_state}")
    print(f"x is {x}")


print(s)

sum_state is Add
x is 3
sum_state is Add
x is 9
sum_state is Add
x is 7
sum_state is Ignore
x is 6
sum_state is Ignore
x is 11
19

In [91]:
def sum_state(l):
    sum_state = True
    s=0
    for x in l:
        while sum_state:
            if x == 6:
                sum_state = False
            else:
                s += x
                break
        while not sum_state:
            if x == 9:
                sum_state = True
            else:
                break
    return s

sum_state([1,1,1,9,1,6])

13